<div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="col-md-3 control-label" for="{{ field.id_for_label }}">
        {{ field.label }}{% if field.field.required %} <span class="text-danger">*</span>{% endif %}
    </label>
    <div class="col-md-9">
        {{ field }}
        {% if field.help_text %}
            <span class="help-block">{{ field.help_text }}</span>
        {% endif %}
        {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>
</div>
