{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ object.dependency_kind }}:{{ object.namespace }}/{{ object.name }}</h1>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Desired Dependency</strong>
                </div>
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Source Service</th>
                        <td>
                            {% if object.source_service %}
                                <a href="{{ object.source_service.get_absolute_url }}">{{ object.source_service }}</a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Dependency Kind</th>
                        <td>{{ object.dependency_kind }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Namespace</th>
                        <td>{{ object.namespace }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Raw Ref</th>
                        <td><code>{{ object.raw_ref }}</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Dependency Type</th>
                        <td>{{ object.dependency_type }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Resolution Status</th>
                        <td>{{ object.get_resolution_status_display|default:object.resolution_status }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Resolved Service</th>
                        <td>
                            {% if object.resolved_service %}
                                <a href="{{ object.resolved_service.get_absolute_url }}">{{ object.resolved_service }}</a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Notes</th>
                        <td>{{ object.notes|default:"-" }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
