{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <h1>{{ object.desired_node }} Operational Config</h1>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Desired Node Operational Config</strong></div>
        <table class="table table-hover attr-table">
            <tr><th scope="row">Desired Node</th><td><a href="{{ object.desired_node.get_absolute_url }}">{{ object.desired_node }}</a></td></tr>
            <tr><th scope="row">Actual State Policy</th><td>{{ object.get_actual_state_policy_display }}</td></tr>
            <tr><th scope="row">Expected Host OS</th><td>{{ object.expected_host_os|default:"-" }}</td></tr>
            <tr><th scope="row">Declared Host OS</th><td>{{ object.declared_host_os|default:"-" }}</td></tr>
            <tr><th scope="row">Connection Path</th><td>{{ object.get_connection_path_display }}</td></tr>
            <tr><th scope="row">Local Endpoint</th><td>{% if object.local_endpoint %}<a href="{{ object.local_endpoint.get_absolute_url }}">{{ object.local_endpoint }}</a>{% else %}-{% endif %}</td></tr>
            <tr><th scope="row">Tailscale Endpoint</th><td>{% if object.tailscale_endpoint %}<a href="{{ object.tailscale_endpoint.get_absolute_url }}">{{ object.tailscale_endpoint }}</a>{% else %}-{% endif %}</td></tr>
            <tr><th scope="row">Ansible Port</th><td>{{ object.ansible_port|default:"-" }}</td></tr>
            <tr><th scope="row">Power Control</th><td>{{ object.get_power_control_display }}</td></tr>
            <tr><th scope="row">Laptop</th><td>{{ object.is_laptop|yesno:"Yes,No" }}</td></tr>
        </table>
    </div>
</div>
{% endblock content %}
