{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ object.get_target_type_display|default:object.target_type }} Evaluation</h1>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Intent Evaluation</strong>
                </div>
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Target Type</th>
                        <td>{{ object.get_target_type_display|default:object.target_type }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Target ID</th>
                        <td><code>{{ object.target_id }}</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Status</th>
                        <td>{{ object.get_status_display|default:object.status }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Source Hash</th>
                        <td><code>{{ object.source_hash }}</code></td>
                    </tr>
                    <tr>
                        <th scope="row">Review Model</th>
                        <td>{{ object.review_model|default:"-" }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Reviewed At</th>
                        <td>{{ object.reviewed_at|default:"-" }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Deterministic Summary</th>
                        <td><pre>{{ object.deterministic_summary|default_if_none:"{}" }}</pre></td>
                    </tr>
                    <tr>
                        <th scope="row">Actual Refs</th>
                        <td><pre>{{ object.actual_refs|default_if_none:"[]" }}</pre></td>
                    </tr>
                    <tr>
                        <th scope="row">Observed Facts</th>
                        <td><pre>{{ object.observed_facts|default_if_none:"{}" }}</pre></td>
                    </tr>
                    <tr>
                        <th scope="row">Expected Facts</th>
                        <td><pre>{{ object.expected_facts|default_if_none:"{}" }}</pre></td>
                    </tr>
                    <tr>
                        <th scope="row">Gap Summary</th>
                        <td><pre>{{ object.gap_summary|default_if_none:"{}" }}</pre></td>
                    </tr>
                    <tr>
                        <th scope="row">AI Review</th>
                        <td><pre>{{ object.ai_review|default_if_none:"{}" }}</pre></td>
                    </tr>
                    <tr>
                        <th scope="row">Recommended Actions</th>
                        <td><pre>{{ object.recommended_actions|default_if_none:"[]" }}</pre></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
